In [1]:
import pandas as pd
bollywood_df=pd.read_csv('bollywood.csv')
bollywood_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

In [2]:
bollywood_df.Genre.value_counts()

Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64

In [3]:
bollywood_df.Genre.value_counts().sort_values('Genre', ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_2572\169335145.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  bollywood_df.Genre.value_counts().sort_values('Genre', ascending=False)

ValueError: No axis named Genre for object type Series

In [4]:
bollywood_df.Genre.value_counts().sort_values('Genre.value_counts()',ascending=false)

NameError: name 'false' is not defined

In [5]:
bollywood_df.Genre.value_counts().sort_values('Genre.value_counts()',ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_2572\3930404679.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  bollywood_df.Genre.value_counts().sort_values('Genre.value_counts()',ascending=False)

ValueError: No axis named Genre.value_counts() for object type Series

In [6]:
bollywood_df.Genre.value_counts().sort_values(Genre.value_counts(),ascending=false)

NameError: name 'Genre' is not defined

In [7]:
bollywood_df.Genre.value_counts().sort_values(Genre.value_counts(),ascending=False)

NameError: name 'Genre' is not defined

In [8]:
bollywood_df.Genre.value_counts().sort_values('Genre',Genre.value_counts(),ascending=False)

NameError: name 'Genre' is not defined

In [9]:
bollywood_df['counts']=bollywood_df['Genre.value_counts()']
bollywood_df['Genre','counts']

KeyError: 'Genre.value_counts()'

In [10]:
bollywood_df['counts']=bollywood_df[Genre.value_counts()]
bollywood_df[['Genre','counts']]

NameError: name 'Genre' is not defined

In [11]:
bollywood_df['counts']=bollywood_df.Genre.value_counts()
bollywood_df[['Genre','counts']]

         Genre  counts
0      Romance     NaN
1    Thriller      NaN
2       Comedy     NaN
3       Drama      NaN
4       Comedy     NaN
..         ...     ...
144     Comedy     NaN
145   Thriller     NaN
146     Comedy     NaN
147     Comedy     NaN
148     Action     NaN

[149 rows x 2 columns]

In [1]:
bollywood_df.Genre.value_counts()

NameError: name 'bollywood_df' is not defined

In [2]:
import pandas as pd
bollywood_df=pd.read_csv('bollywood.csv')
bollywood_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB